
//- layout.pug -> copied from template inheritance from pug documentation
doctype html
html
  head
    title Ghanshyam Dance Academy
    block scripts
    block style
      
  body
    nav#navbar
        ul 
            div#logo     
              a(href="/")
                img(src="/static/img/logo.png" alt="dance logo")
              | GDA
            li #[a(href="/") Home]
            li #[a(href="/") About us]
            li #[a(href="/") Services]
            li #[a(href="/") Class info ]
            li #[a(href="/contact") Contact us]
    block content
    footer#footer 
        | copyright 2022 ghanshyamDanceAcademy.com | All rights reserved