*{
    margin: 0px;
    padding: 0px;
    font-family:cursive;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: wheat;
    font-size: 18px;
    margin: -4px 2px;
    margin-right: 28px;
   
}
#logo img{
    height: 45px;
    filter: invert(1);  
    cursor: pointer;

}


#navbar{
    background-color: #d43b3b;
    font-family: 'Yeon Sung' ;
    padding: 10px 6px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
     /* justify-content: center; */
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
   color: whitesmoke;
   text-decoration: none;
    padding: 13px 20px;
}
#navbar li a:hover{
    color: black;  
    font-style: italic;
    font-style: bold;
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 42px;
    /* opacity: 0.9; */
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    height: 425px;
    background-color: red;
}
#introSection div.small{
    font-size: 33px;
    padding: 8px;
}
#missionSection{
    height: 326px;; 
    margin: auto;
    width: 81%;
    display: block;
}

#missionSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 29%;
    margin: 23px 9px;
    height: 209px;
    display: inline-block;
}
.card h3{
    text-align: center;
    margin: 12px;
}

.card-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 125px;
    margin: 6px 18px;
}
.card-img img{
    width: 124px;
    height: 133px;
}


#sponsorSection{
    height: 326px;; 
    width: 100%;
    margin: auto;
    background-color: bisque;
}
#sponsorSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
}
#sponsors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 49px 173px;
    
}  
.spImage{
    height: 139px;
    width: 189px;
    margin: 8px 39px;
}
#footer{
    color: whitesmoke;
    background-color: black;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}